{{ partial "_head.html" . }}
<div id="main" role="main">
  {{ partial "_author.html" . }}

  <article class="post">
    <div class="headline-wrap">
      <h1>{{.Title}}</h1>
    </div>

    <div class="article-wrap">
      {{ .Content }}
      <hr />

      <footer role="contentinfo">
        <p class="byline">
          <strong>{{.Title}}</strong>
          was published on <time datetime="{{ .Date }}">{{.Date.Format "Jan 2, 2006"}}</time>
          and should take about {{.ReadingTime}} minutes to read.
      </footer>
    </div>

    {{ if and (isset .Site.Params "disqus") (eq .Params.comments true) }}
    <section id="disqus_thread"></section>
    {{ end }}

    {{if .IsPage}}
    <section id="git-info">
      {{.GitInfo.AuthorName}} @ {{.GitInfo.AuthorDate}}
      <br />
      <a href="https://github.com/seanhagen/seanhagen.ca/commit/{{.GitInfo.Hash}}">{{.GitInfo.Hash}}</a>
    </section>
    {{end}}
    
  </article>
</div>

{{ partial "_foot.html" . }}
