<div class="article-author-side">
  {{ if .Site.Params.author }}
  {{ with .Site.Params.author }}

<div itemscope itemtype="http://schema.org/Person">

  {{ if isset . "avatar" }}
  {{ if in .avatar "http" }}
  <img src="{{.avatar}}" class="bio-photo" alt="{{.name}} bio photo">
  {{ else }}
  <img src="/images/{{.avatar}}" class="bio-photo" alt="{{.name}} bio photo">
  {{ end}}
  {{ end }}

  <h3 itemprop="name">{{ .name }}</h3>

  {{ if and (isset . "bio") (ne .bio "") }}
  <p>{{.bio}}</p>
  {{ end }}

  {{ if isset . "social" }}
  {{ with .social }}

  {{ if and (isset . "twitter")  (ne .twitter "")}}
  <a href="http://twitter.com/{{ .twitter }}" class="author-social" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
  {{ end }}

  {{ if and (isset . "youtube") (ne .youtube "") }}
  <a href="https://youtube.com/channel/{{ .youtube }}" class="author-social" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
  {{ end }}

  {{ if and (isset . "twitch") (ne .twitch "") }}
  <a href="https://twitch.tv/{{ .twitch }}" class="author-social" target="_blank"><i class="fab fa-twitch"></i> Twitch</a>
  {{ end }}

  {{ if and (isset . "facebook") (ne .facebook "") }}
  <a href="http://facebook.com/{{ .facebook }}" class="author-social" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a>
  {{ end }}

  {{ if and (isset . "linkedin") (ne .linkedin "")}}
  <a href="http://linkedin.com/in/{{ .linkedin }}" class="author-social" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
  {{ end }}

  {{ if and (isset . "instagram") (ne .instagram "") }}
  <a href="http://instagram.com/{{ .instagram }}" class="author-social" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
  {{ end }}

  {{ if and (isset . "tumblr") (ne .tumblr "") }}
  <a href="http://{{ .tumblr }}.tumblr.com" class="author-social" target="_blank"><i class="fab fa-tumblr-square"></i> Tumblr</a>
  {{ end }}

  {{ if and (isset . "github") (ne .github "")}}
  <a href="http://github.com/{{ .github }}" class="author-social" target="_blank"><i class="fab fa-github"></i> Github</a>
  {{ end }}

  {{ if and (isset . "stackoverflow") (ne .stackoverflow "") }}
  <a href="http://stackoverflow.com/users/{{ .stackoverflow }}" class="author-social" target="_blank"><i class="fab fa-stack-overflow"></i> Stackoverflow</a>
  {{ end }}

  {{ if and (isset . "pinterest") (ne .pinterest "") }}
  <a href="http://www.pinterest.com/{{ .pinterest }}" class="author-social" target="_blank"><i class="fab fa-pinterest"></i> Pinterest</a>
  {{ end }}

  {{ if and (isset . "steam") (ne .steam "")}}
  <a href="http://steamcommunity.com/id/{{ .steam }}" class="author-social" target="_blank"><i class="fab fa-steam-square"></i> Steam</a>
  {{ end }}

  {{ if and (isset . "soundcloud") (ne .soundcloud "") }}
  <a href="http://soundcloud.com/{{ .soundcloud }}" class="author-social" target="_blank"><i class="fab fa-soundcloud"></i> Soundcloud</a>
  {{ end }}

  {{ if and (isset . "flickr") (ne .flickr "")}}
  <a href="http://www.flickr.com/{{ .flickr }}" class="author-social" target="_blank"><i class="fab fa-flickr"></i> Flickr</a>
  {{ end }}

  {{ if and (isset . "codepen") (ne .codepen "") }}
  <a href="http://codepen.io/{{ .codepen }}" class="author-social" target="_blank"><i class="fab fa-codepen"></i> CodePen</a>
  {{ end }}

  {{ end }}
  {{ end }}
</div>

{{ end }}
{{ end }}
</div>
