<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <title>{{ .Site.Title }}</title>

    {{ partial "_metadata.html" . }}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body class="home">
    {{ partial "_browser-upgrade.html" . }}
    {{ partial "_navigation.html" . }}

    <div class="image-wrap">
      <img src="/images/{{$.Param "header.feature"}}.jpg"/>
      {{ if $.Param "header.credit" }}
      <span class="image-credit">
        Photo Credit:
        <a href="{{$.Param "header.creditlink"}}">
          {{$.Param "header.credit"}}
        </a>
      </span>
      {{ end }}
    </div>
