{{ partial "_head.html" . }}
<div id="main" role="main">
  {{ partial "_author.html" . }}
  <div id="index">
    <h3><a href="/posts/">Recent Posts</a></h3>
    <p></p>

    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range first 10 (where $pages "Section" "=" "posts") }}
    <article>
      <p>
      <h2>
        <a href="{{.Permalink}}" title="{{ .Title }}">{{ .Title }}</a>
      </h2>
      {{if ne .Summary ""}}
      <div class="post-list-summary">
        {{if gt (len .Summary) 159}}
          <p class="summary">{{slicestr .Summary 0 160 |markdownify}}...</p>
          <a href="{{.Permalink}}" title="{{.Title}}">Read more</a>
        {{else}}
          <p class="summary">{{.Summary|markdownify}}...</p>
          <a href="{{.Permalink}}" title="{{.Title}}">Read more</a>
        {{end}}
      </div>
      {{end}}
    </article>
    {{ end }}
    <p>Go to the <a href="/posts/">archive</a> to see more!</p>
  </div>
</div>
{{ partial "_foot.html" . }}
