{{ partial "_head.html" . }}
<div id="main" role="main">
  {{ partial "_author.html" . }}
  <div id="index">
    <h3>Archive</h3>
    <p></p>

    {{ range where .Site.Pages "Section" "post"}}
    {{ range .Data.Pages.GroupByPublishDate "2006" }}
    <h1>{{.Key}}</h1>

    {{ range sort .Pages "PublishDate" "desc"}}
    <article>
      <h2 class="link-post">
        <a href="{{.Permalink}}" title="{{ .Title }}">{{ .Title }}</a>
      </h2>
    </article>
    {{ end }}
    {{ end }}

    {{ end }}

  </div>
</div>
{{ partial "_foot.html" . }}
