@charset "utf-8";

@import "variables";

// Our variables
$base-font: Helvetica, Arial, sans-serif;
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$linkcolor: #343434;
$link-color: $linkcolor;
$linkcolorhover   : darken($linkcolor, 10);
$linkcolorvisited : lighten($linkcolorhover, 20);
$linkcolorfocus   : darken($linkcolorvisited, 10);


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"mixins",
"grid",
"typography",
"site",
"base",
"layout",
"page",
"elements",
"forms",
"pygments";

pre {
    background-color: #272822;
}
code {
    background-color: #272822;
}

a {
    color: $link-color;
    &:visited, &:active, &:hover {
        color: $link-color;
    }
}

#index article {
    margin-top: 30px;

    h2 {
        font-weight: 700;
    }

}
#index h3 {
    font-weight: 700;
}

.article-author-side h3 {
    font-weight: 600;
}

#index article p {
    font-size: 0.775rem;
}

.image-wrap:after {
    display: none;
}

#main {
    .post {
        #git-commit {
            font-size: 10pt;
            font-family: monospace;
            a {
                :hover, :focus, :active, :visited { text-decoration: underline }
            }
        }
    }
}
